Librerias

In [211]:
import pandas as pd
import numpy as np

In [212]:
df1 = pd.read_csv("../data/proyecto2.csv", encoding = 'utf-8', index_col = 0, sep=';')
df1.head()

,Account Name,Stage Before Lost,Created Date,Interest,Campus extended,Country Aggregate,Stage,Last Click Channel,Drop,Person Account: Gender,Close Date
Opportunity ID,,,,,,,,,,,
0065J000009E0Ge,Tanase Georgiana Cristina,NaN,1/01/2022,WDFT,RMTEU - Spain,Spain,Paid Deposit,Email,1,Female,29/03/2022
0065J00000Awp4h,Lamiya Safarova,NaN,28/03/2022,UXFT,BCN - Spain,Azerbaijan,Paid Deposit,Direct,1,Female,29/03/2022
0065J000009CD60,Narine Amiryan,Technical Interview,19/10/2021,DAFT,BCN - Spain,United States,Closed lost,Paid Search,0,Female,12/01/2022
0065J000009Ckyd,Cristina Peña Cotrino,Technical Interview,4/11/2021,DAPT,BCN - Spain,Colombia,Closed lost,Organic Search,0,Female,3/01/2022
0065J000009CmDl,claudia parals,Technical Interview,5/11/2021,DAPT,BCN - Spain,Spain,Closed lost,Organic Search,0,Female,11/01/2022

In [213]:
df1.shape[0]

3915

In [214]:
df1['Last Click Channel'].value_counts()

Last Click Channel
Paid Search       1021
Organic Search     980
Direct             404
Email              265
Other              157
Referral           127
Social              85
Name: count, dtype: int64

In [215]:
df1['Stage Before Lost'].value_counts()

Stage Before Lost
Technical Interview    1063
Personal Interview      814
Student Agreement       518
Re-applied              183
Name: count, dtype: int64

In [216]:
# Hacemos group by con Wrangler

def clean_data(df1):
    df1 = df1.groupby(['Last Click Channel']).agg(Stage_count=('Stage', 'count')).reset_index()
    return df1

df1_clean = clean_data(df1.copy())
df1_clean.head()

  Last Click Channel  Stage_count
0             Direct          404
1              Email          265
2     Organic Search          980
3              Other          157
4        Paid Search         1021

In [217]:
df1.head()

,Account Name,Stage Before Lost,Created Date,Interest,Campus extended,Country Aggregate,Stage,Last Click Channel,Drop,Person Account: Gender,Close Date
Opportunity ID,,,,,,,,,,,
0065J000009E0Ge,Tanase Georgiana Cristina,NaN,1/01/2022,WDFT,RMTEU - Spain,Spain,Paid Deposit,Email,1,Female,29/03/2022
0065J00000Awp4h,Lamiya Safarova,NaN,28/03/2022,UXFT,BCN - Spain,Azerbaijan,Paid Deposit,Direct,1,Female,29/03/2022
0065J000009CD60,Narine Amiryan,Technical Interview,19/10/2021,DAFT,BCN - Spain,United States,Closed lost,Paid Search,0,Female,12/01/2022
0065J000009Ckyd,Cristina Peña Cotrino,Technical Interview,4/11/2021,DAPT,BCN - Spain,Colombia,Closed lost,Organic Search,0,Female,3/01/2022
0065J000009CmDl,claudia parals,Technical Interview,5/11/2021,DAPT,BCN - Spain,Spain,Closed lost,Organic Search,0,Female,11/01/2022

In [218]:
df1.dtypes

Account Name              object
Stage Before Lost         object
Created Date              object
Interest                  object
Campus extended           object
Country Aggregate         object
Stage                     object
Last Click Channel        object
Drop                       int64
Person Account: Gender    object
Close Date                object
dtype: object

In [219]:

# Cambiamos formato a datetime
df1['Close Date'] = pd.to_datetime(df1['Close Date'], format='%d/%m/%Y')

# Convertimos la columna de fecha al formato año mes día
df1['nueva_fecha'] = pd.to_datetime(df1['Close Date'].dt.strftime('%Y-%m-%d'))

In [220]:
df2 = df1.drop('Close Date', axis=1).rename(columns={'nueva_fecha': 'Close Date'})
df2.head()

,Account Name,Stage Before Lost,Created Date,Interest,Campus extended,Country Aggregate,Stage,Last Click Channel,Drop,Person Account: Gender,Close Date
Opportunity ID,,,,,,,,,,,
0065J000009E0Ge,Tanase Georgiana Cristina,NaN,1/01/2022,WDFT,RMTEU - Spain,Spain,Paid Deposit,Email,1,Female,2022-03-29
0065J00000Awp4h,Lamiya Safarova,NaN,28/03/2022,UXFT,BCN - Spain,Azerbaijan,Paid Deposit,Direct,1,Female,2022-03-29
0065J000009CD60,Narine Amiryan,Technical Interview,19/10/2021,DAFT,BCN - Spain,United States,Closed lost,Paid Search,0,Female,2022-01-12
0065J000009Ckyd,Cristina Peña Cotrino,Technical Interview,4/11/2021,DAPT,BCN - Spain,Colombia,Closed lost,Organic Search,0,Female,2022-01-03
0065J000009CmDl,claudia parals,Technical Interview,5/11/2021,DAPT,BCN - Spain,Spain,Closed lost,Organic Search,0,Female,2022-01-11

In [221]:
df2 = df2.drop('Created Date', axis=1)
df2.head()

,Account Name,Stage Before Lost,Interest,Campus extended,Country Aggregate,Stage,Last Click Channel,Drop,Person Account: Gender,Close Date
Opportunity ID,,,,,,,,,,
0065J000009E0Ge,Tanase Georgiana Cristina,NaN,WDFT,RMTEU - Spain,Spain,Paid Deposit,Email,1,Female,2022-03-29
0065J00000Awp4h,Lamiya Safarova,NaN,UXFT,BCN - Spain,Azerbaijan,Paid Deposit,Direct,1,Female,2022-03-29
0065J000009CD60,Narine Amiryan,Technical Interview,DAFT,BCN - Spain,United States,Closed lost,Paid Search,0,Female,2022-01-12
0065J000009Ckyd,Cristina Peña Cotrino,Technical Interview,DAPT,BCN - Spain,Colombia,Closed lost,Organic Search,0,Female,2022-01-03
0065J000009CmDl,claudia parals,Technical Interview,DAPT,BCN - Spain,Spain,Closed lost,Organic Search,0,Female,2022-01-11

In [222]:
df2 = df2.drop('Account Name', axis=1)

df2.head()

,Stage Before Lost,Interest,Campus extended,Country Aggregate,Stage,Last Click Channel,Drop,Person Account: Gender,Close Date
Opportunity ID,,,,,,,,,
0065J000009E0Ge,NaN,WDFT,RMTEU - Spain,Spain,Paid Deposit,Email,1,Female,2022-03-29
0065J00000Awp4h,NaN,UXFT,BCN - Spain,Azerbaijan,Paid Deposit,Direct,1,Female,2022-03-29
0065J000009CD60,Technical Interview,DAFT,BCN - Spain,United States,Closed lost,Paid Search,0,Female,2022-01-12
0065J000009Ckyd,Technical Interview,DAPT,BCN - Spain,Colombia,Closed lost,Organic Search,0,Female,2022-01-03
0065J000009CmDl,Technical Interview,DAPT,BCN - Spain,Spain,Closed lost,Organic Search,0,Female,2022-01-11

In [223]:
# Dividimos la columna 'Campus extended' en dos columnas: 'Ciudad' y 'Pais'
df2[['Ciudad', 'Pais']] = df2['Campus extended'].str.split(' - ', expand=True)

# Dropeamos la columna 'Pais'
df2.drop('Campus extended', axis=1, inplace=True)

df2.head()

,Stage Before Lost,Interest,Country Aggregate,Stage,Last Click Channel,Drop,Person Account: Gender,Close Date,Ciudad,Pais
Opportunity ID,,,,,,,,,,
0065J000009E0Ge,NaN,WDFT,Spain,Paid Deposit,Email,1,Female,2022-03-29,RMTEU,Spain
0065J00000Awp4h,NaN,UXFT,Azerbaijan,Paid Deposit,Direct,1,Female,2022-03-29,BCN,Spain
0065J000009CD60,Technical Interview,DAFT,United States,Closed lost,Paid Search,0,Female,2022-01-12,BCN,Spain
0065J000009Ckyd,Technical Interview,DAPT,Colombia,Closed lost,Organic Search,0,Female,2022-01-03,BCN,Spain
0065J000009CmDl,Technical Interview,DAPT,Spain,Closed lost,Organic Search,0,Female,2022-01-11,BCN,Spain

In [224]:
# Quitamos las dos últimas letras de 'Ciudad' para quedarnos sólo con RMT
df2['Ciudad'] = df2['Ciudad'].str[:3]
df2.head()

,Stage Before Lost,Interest,Country Aggregate,Stage,Last Click Channel,Drop,Person Account: Gender,Close Date,Ciudad,Pais
Opportunity ID,,,,,,,,,,
0065J000009E0Ge,NaN,WDFT,Spain,Paid Deposit,Email,1,Female,2022-03-29,RMT,Spain
0065J00000Awp4h,NaN,UXFT,Azerbaijan,Paid Deposit,Direct,1,Female,2022-03-29,BCN,Spain
0065J000009CD60,Technical Interview,DAFT,United States,Closed lost,Paid Search,0,Female,2022-01-12,BCN,Spain
0065J000009Ckyd,Technical Interview,DAPT,Colombia,Closed lost,Organic Search,0,Female,2022-01-03,BCN,Spain
0065J000009CmDl,Technical Interview,DAPT,Spain,Closed lost,Organic Search,0,Female,2022-01-11,BCN,Spain

In [225]:


# Extraemos las dos primeras letras de la columna 'Interest' como 'curso' y las dos últimas letras como 'Formato'
df2['curso'] = df2['Interest'].str[:2]

df2['Formato'] = df2['Interest'].str[-2:]

# Mapeamos los valores de 'curso' 
curso_mapping = {
    'WD': 'WD',
    'UX': 'UX',
    'DA': 'DA',
}
df2['curso'] = df2['curso'].map(curso_mapping)

# Mapeamos los valores de 'Formato'
formato_mapping = {
    'PT': 'PT',
    'FT': 'FT',
}
df2['Formato'] = df2['Formato'].map(formato_mapping)

df2.head()

,Stage Before Lost,Interest,Country Aggregate,Stage,Last Click Channel,Drop,Person Account: Gender,Close Date,Ciudad,Pais,curso,Formato
Opportunity ID,,,,,,,,,,,,
0065J000009E0Ge,NaN,WDFT,Spain,Paid Deposit,Email,1,Female,2022-03-29,RMT,Spain,WD,FT
0065J00000Awp4h,NaN,UXFT,Azerbaijan,Paid Deposit,Direct,1,Female,2022-03-29,BCN,Spain,UX,FT
0065J000009CD60,Technical Interview,DAFT,United States,Closed lost,Paid Search,0,Female,2022-01-12,BCN,Spain,DA,FT
0065J000009Ckyd,Technical Interview,DAPT,Colombia,Closed lost,Organic Search,0,Female,2022-01-03,BCN,Spain,DA,PT
0065J000009CmDl,Technical Interview,DAPT,Spain,Closed lost,Organic Search,0,Female,2022-01-11,BCN,Spain,DA,PT

In [226]:
df2 = df2.drop('Interest', axis=1)
df2.head()

,Stage Before Lost,Country Aggregate,Stage,Last Click Channel,Drop,Person Account: Gender,Close Date,Ciudad,Pais,curso,Formato
Opportunity ID,,,,,,,,,,,
0065J000009E0Ge,NaN,Spain,Paid Deposit,Email,1,Female,2022-03-29,RMT,Spain,WD,FT
0065J00000Awp4h,NaN,Azerbaijan,Paid Deposit,Direct,1,Female,2022-03-29,BCN,Spain,UX,FT
0065J000009CD60,Technical Interview,United States,Closed lost,Paid Search,0,Female,2022-01-12,BCN,Spain,DA,FT
0065J000009Ckyd,Technical Interview,Colombia,Closed lost,Organic Search,0,Female,2022-01-03,BCN,Spain,DA,PT
0065J000009CmDl,Technical Interview,Spain,Closed lost,Organic Search,0,Female,2022-01-11,BCN,Spain,DA,PT

In [227]:
# Cambiamos los valores de la columna 'Drop' a True y False

df2['Drop'] = np.where(df2['Drop'] == 1, True, False)
df2.head()

,Stage Before Lost,Country Aggregate,Stage,Last Click Channel,Drop,Person Account: Gender,Close Date,Ciudad,Pais,curso,Formato
Opportunity ID,,,,,,,,,,,
0065J000009E0Ge,NaN,Spain,Paid Deposit,Email,True,Female,2022-03-29,RMT,Spain,WD,FT
0065J00000Awp4h,NaN,Azerbaijan,Paid Deposit,Direct,True,Female,2022-03-29,BCN,Spain,UX,FT
0065J000009CD60,Technical Interview,United States,Closed lost,Paid Search,False,Female,2022-01-12,BCN,Spain,DA,FT
0065J000009Ckyd,Technical Interview,Colombia,Closed lost,Organic Search,False,Female,2022-01-03,BCN,Spain,DA,PT
0065J000009CmDl,Technical Interview,Spain,Closed lost,Organic Search,False,Female,2022-01-11,BCN,Spain,DA,PT

In [228]:
df2 = df2.drop('Pais', axis=1)

df2.head()

,Stage Before Lost,Country Aggregate,Stage,Last Click Channel,Drop,Person Account: Gender,Close Date,Ciudad,curso,Formato
Opportunity ID,,,,,,,,,,
0065J000009E0Ge,NaN,Spain,Paid Deposit,Email,True,Female,2022-03-29,RMT,WD,FT
0065J00000Awp4h,NaN,Azerbaijan,Paid Deposit,Direct,True,Female,2022-03-29,BCN,UX,FT
0065J000009CD60,Technical Interview,United States,Closed lost,Paid Search,False,Female,2022-01-12,BCN,DA,FT
0065J000009Ckyd,Technical Interview,Colombia,Closed lost,Organic Search,False,Female,2022-01-03,BCN,DA,PT
0065J000009CmDl,Technical Interview,Spain,Closed lost,Organic Search,False,Female,2022-01-11,BCN,DA,PT

In [229]:
df2.reset_index(drop=False, inplace=True)
df2.head()

,Opportunity ID,Stage Before Lost,Country Aggregate,Stage,Last Click Channel,Drop,Person Account: Gender,Close Date,Ciudad,curso,Formato
0,0065J000009E0Ge,NaN,Spain,Paid Deposit,Email,True,Female,2022-03-29,RMT,WD,FT
1,0065J00000Awp4h,NaN,Azerbaijan,Paid Deposit,Direct,True,Female,2022-03-29,BCN,UX,FT
2,0065J000009CD60,Technical Interview,United States,Closed lost,Paid Search,False,Female,2022-01-12,BCN,DA,FT
3,0065J000009Ckyd,Technical Interview,Colombia,Closed lost,Organic Search,False,Female,2022-01-03,BCN,DA,PT
4,0065J000009CmDl,Technical Interview,Spain,Closed lost,Organic Search,False,Female,2022-01-11,BCN,DA,PT

In [230]:
df2.columns

Index(['Opportunity ID', 'Stage Before Lost', 'Country Aggregate', 'Stage',
       'Last Click Channel', 'Drop', 'Person Account: Gender', 'Close Date',
       'Ciudad', 'curso', 'Formato'],
      dtype='object')

In [231]:
# Renombramos las columnas
nuevos_nombres = {
    'Stage Before Lost': 'Lost Stage',
    'Ciudad': 'Campus',
    'Country Aggregate': 'Country',
    'Last Click Channel': 'Channel',
    'Person Account: Gender': 'Gender',
    'Stage': 'Close Stage',
    'curso': 'Interest',
    'Formato': 'Format',
}

df2 = df2.rename(columns=nuevos_nombres)
df2.head()

,Opportunity ID,Lost Stage,Country,Close Stage,Channel,Drop,Gender,Close Date,Campus,Interest,Format
0,0065J000009E0Ge,NaN,Spain,Paid Deposit,Email,True,Female,2022-03-29,RMT,WD,FT
1,0065J00000Awp4h,NaN,Azerbaijan,Paid Deposit,Direct,True,Female,2022-03-29,BCN,UX,FT
2,0065J000009CD60,Technical Interview,United States,Closed lost,Paid Search,False,Female,2022-01-12,BCN,DA,FT
3,0065J000009Ckyd,Technical Interview,Colombia,Closed lost,Organic Search,False,Female,2022-01-03,BCN,DA,PT
4,0065J000009CmDl,Technical Interview,Spain,Closed lost,Organic Search,False,Female,2022-01-11,BCN,DA,PT

In [232]:
df2.value_counts()

Opportunity ID   Lost Stage           Country  Close Stage  Channel         Drop   Gender  Close Date  Campus  Interest  Format
0065J000002JiMk  Personal Interview   Spain    Closed lost  Organic Search  False  Female  2023-01-27  MAD     DA        FT        1
0065J00000Ccxg0  Technical Interview  Spain    Closed lost  Organic Search  False  Female  2023-02-17  BCN     DA        PT        1
0065J00000Cd3iv  Personal Interview   Spain    Closed lost  Paid Search     False  Male    2023-01-24  BCN     UX        PT        1
0065J00000Cd3bc  Technical Interview  Spain    Closed lost  Organic Search  False  Male    2023-06-01  BCN     DA        PT        1
0065J00000Cd3aX  Student Agreement    Spain    Closed lost  Organic Search  False  Female  2023-04-05  RMT     WD        FT        1
                                                                                                                                  ..
0065J00000Bm6MF  Technical Interview  Spain    Closed lost  Paid Search     False  Female  2022-08-30  BCN     WD        PT        1
0065J00000Bm5em  Student Agreement    Spain    Closed lost  Social          False  Male    2022-09-29  MAD     DA        PT        1
0065J00000Bm5YF  Technical Interview  Spain    Closed lost  Organic Search  False  Male    2022-09-07  BCN     DA        PT        1
0065J00000Bm5WE  Student Agreement    Spain    Closed lost  Other           False  Female  2022-09-02  MAD     WD        FT        1
0065J00000E4Grs  Technical Interview  Spain    Closed lost  Paid Search     False  Male    2023-04-12  RMT     UX        PT        1
Name: count, Length: 1431, dtype: int64

In [233]:
df2.dtypes

Opportunity ID            object
Lost Stage                object
Country                   object
Close Stage               object
Channel                   object
Drop                        bool
Gender                    object
Close Date        datetime64[ns]
Campus                    object
Interest                  object
Format                    object
dtype: object

In [234]:
# Guardamos el nuevo csv del df2
df2.to_csv('dashboard.csv', index=False)