Librerias

In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv("../data/proyecto2.csv", encoding = 'utf-8', index_col = 0, sep=';')
df1.head()

,Stage Before Lost,Created Date,Interest,Campus extended,Country Aggregate,Stage,Last Click Channel,Drop,Person Account: Gender,Close Date
Opportunity ID,,,,,,,,,,
0065J000009F82u,Technical Interview,20/02/2022,DAPT,MAD - Spain,Spain,Closed lost,Organic Search,0,Female,11/04/2022
0065J00000BRHqK,Technical Interview,26/05/2022,WDFT,BCN - Spain,Spain,Closed lost,Organic Search,0,Male,26/07/2022
0065J00000DPub2,Technical Interview,20/06/2023,DAFT,MAD - Spain,Spain,Closed lost,Paid Search,0,Male,21/06/2023
0065J00000E4GpI,Personal Interview,4/04/2023,DAPT,RMTEU - Spain,Spain,Closed lost,Paid Search,0,NaN,15/06/2023
0065J00000BRINx,Personal Interview,26/05/2022,DAFT,BCN - Spain,Spain,Closed lost,Direct,0,NaN,26/07/2022

In [3]:
df1.shape[0]

3904

In [4]:
df1['Last Click Channel'].value_counts()

Last Click Channel
Paid Search       1017
Organic Search     979
Direct             402
Email              264
Other              157
Referral           127
Social              84
Name: count, dtype: int64

In [5]:
df1['Stage Before Lost'].value_counts()

Stage Before Lost
Technical Interview    1063
Personal Interview      814
Student Agreement       518
Re-applied              183
Name: count, dtype: int64

In [6]:
# Hacemos group by con Wrangler

def clean_data(df1):
    df1 = df1.groupby(['Last Click Channel']).agg(Stage_count=('Stage', 'count')).reset_index()
    return df1

df1_clean = clean_data(df1.copy())
df1_clean.head()

  Last Click Channel  Stage_count
0             Direct          402
1              Email          264
2     Organic Search          979
3              Other          157
4        Paid Search         1017

In [7]:
df1.head()

,Stage Before Lost,Created Date,Interest,Campus extended,Country Aggregate,Stage,Last Click Channel,Drop,Person Account: Gender,Close Date
Opportunity ID,,,,,,,,,,
0065J000009F82u,Technical Interview,20/02/2022,DAPT,MAD - Spain,Spain,Closed lost,Organic Search,0,Female,11/04/2022
0065J00000BRHqK,Technical Interview,26/05/2022,WDFT,BCN - Spain,Spain,Closed lost,Organic Search,0,Male,26/07/2022
0065J00000DPub2,Technical Interview,20/06/2023,DAFT,MAD - Spain,Spain,Closed lost,Paid Search,0,Male,21/06/2023
0065J00000E4GpI,Personal Interview,4/04/2023,DAPT,RMTEU - Spain,Spain,Closed lost,Paid Search,0,NaN,15/06/2023
0065J00000BRINx,Personal Interview,26/05/2022,DAFT,BCN - Spain,Spain,Closed lost,Direct,0,NaN,26/07/2022

In [8]:
df1.dtypes

Stage Before Lost         object
Created Date              object
Interest                  object
Campus extended           object
Country Aggregate         object
Stage                     object
Last Click Channel        object
Drop                       int64
Person Account: Gender    object
Close Date                object
dtype: object

In [9]:

# Cambiamos formato a datetime
df1['Close Date'] = pd.to_datetime(df1['Close Date'], format='%d/%m/%Y')

# Convertimos la columna de fecha al formato año mes día
df1['nueva_fecha'] = pd.to_datetime(df1['Close Date'].dt.strftime('%Y-%m-%d'))

In [10]:
df2 = df1.drop('Close Date', axis=1).rename(columns={'nueva_fecha': 'Close Date'})
df2.head()

,Stage Before Lost,Created Date,Interest,Campus extended,Country Aggregate,Stage,Last Click Channel,Drop,Person Account: Gender,Close Date
Opportunity ID,,,,,,,,,,
0065J000009F82u,Technical Interview,20/02/2022,DAPT,MAD - Spain,Spain,Closed lost,Organic Search,0,Female,2022-04-11
0065J00000BRHqK,Technical Interview,26/05/2022,WDFT,BCN - Spain,Spain,Closed lost,Organic Search,0,Male,2022-07-26
0065J00000DPub2,Technical Interview,20/06/2023,DAFT,MAD - Spain,Spain,Closed lost,Paid Search,0,Male,2023-06-21
0065J00000E4GpI,Personal Interview,4/04/2023,DAPT,RMTEU - Spain,Spain,Closed lost,Paid Search,0,NaN,2023-06-15
0065J00000BRINx,Personal Interview,26/05/2022,DAFT,BCN - Spain,Spain,Closed lost,Direct,0,NaN,2022-07-26

In [11]:
df2 = df2.drop('Created Date', axis=1)
df2.head()

,Stage Before Lost,Interest,Campus extended,Country Aggregate,Stage,Last Click Channel,Drop,Person Account: Gender,Close Date
Opportunity ID,,,,,,,,,
0065J000009F82u,Technical Interview,DAPT,MAD - Spain,Spain,Closed lost,Organic Search,0,Female,2022-04-11
0065J00000BRHqK,Technical Interview,WDFT,BCN - Spain,Spain,Closed lost,Organic Search,0,Male,2022-07-26
0065J00000DPub2,Technical Interview,DAFT,MAD - Spain,Spain,Closed lost,Paid Search,0,Male,2023-06-21
0065J00000E4GpI,Personal Interview,DAPT,RMTEU - Spain,Spain,Closed lost,Paid Search,0,NaN,2023-06-15
0065J00000BRINx,Personal Interview,DAFT,BCN - Spain,Spain,Closed lost,Direct,0,NaN,2022-07-26

In [ ]:
# Dividimos la columna 'Campus extended' en dos columnas: 'Ciudad' y 'Pais'
df2[['Ciudad', 'Pais']] = df2['Campus extended'].str.split(' - ', expand=True)

# Dropeamos la columna 'Pais'
df2.drop('Campus extended', axis=1, inplace=True)

df2.head()

In [ ]:
# Quitamos las dos últimas letras de 'Ciudad' para quedarnos sólo con RMT
df2['Ciudad'] = df2['Ciudad'].str[:3]
df2.head()

In [ ]:


# Extraemos las dos primeras letras de la columna 'Interest' como 'curso' y las dos últimas letras como 'Formato'
df2['curso'] = df2['Interest'].str[:2]

df2['Formato'] = df2['Interest'].str[-2:]

# Mapeamos los valores de 'curso' 
curso_mapping = {
    'WD': 'WD',
    'UX': 'UX',
    'DA': 'DA',
}
df2['curso'] = df2['curso'].map(curso_mapping)

# Mapeamos los valores de 'Formato'
formato_mapping = {
    'PT': 'PT',
    'FT': 'FT',
}
df2['Formato'] = df2['Formato'].map(formato_mapping)

df2.head()

In [ ]:
df2 = df2.drop('Interest', axis=1)
df2.head()

In [ ]:
# Cambiamos los valores de la columna 'Drop' a True y False

df2['Drop'] = np.where(df2['Drop'] == 1, True, False)
df2.head()

In [ ]:
df2 = df2.drop('Pais', axis=1)

df2.head()

In [ ]:
df2.reset_index(drop=False, inplace=True)
df2.head()

In [ ]:
df2.columns

In [ ]:
# Renombramos las columnas
nuevos_nombres = {
    'Stage Before Lost': 'Lost Stage',
    'Ciudad': 'Campus',
    'Country Aggregate': 'Country',
    'Last Click Channel': 'Channel',
    'Person Account: Gender': 'Gender',
    'Stage': 'Close Stage',
    'curso': 'Interest',
    'Formato': 'Format',
}

df2 = df2.rename(columns=nuevos_nombres)
df2.head()

In [ ]:
df2.value_counts()

In [ ]:
df2.dtypes

In [ ]:
# Guardamos el nuevo csv del df2
df2.to_csv('dashboard.csv', index=False)

In [ ]:
df2.head()

In [ ]:
df2['Gender'].unique()

In [ ]:
df2['Gender'].info()

In [ ]:
df2['Lost Stage'].value_counts()

In [ ]:
df2.info()